body {
	position: relative;
	background-color: darkseagreen;
	font-family: "Roboto Condensed", sans-serif;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#copyright {
	position: absolute;
	top: 4px;
	right: 4px;
	text-align: right;
	font-style: italic;
	color: grey;
}

#seldeka,
#seletos,
#selminas {
	display: inline-block;
	cursor: pointer;
}

.item {
	margin: 6px 4px;
	padding: 2px 8px;
	font-size: 40px;
	font-weight: 600;
	background-color: beige;
	border-radius: 6px;
	box-shadow: 1px 1px 2px #888
}

.etos {
	font-weight: 900;
}

.minas {
	text-align: center;
}

.epilogi {
	background-color: #d3ce85;
}

.candy {
	background-color: khaki;
	box-shadow: 2px 2px 2px #888
}

#imerologio {
	margin: 20px;
	display: inline-block;
	vertical-align: top;
	letter-spacing: 1px;
}

#pinakas {
	background-color: #FFF;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	border-collapse: collapse;
}

#pinakas td {
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-collapse: collapse;
}

#epikefalida {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
}

.dow {
	font-size: 30px;
	font-weight: 600;
	border-style: solid solid double solid;
	border-width: 2px 2px 3px 2px;
}

.keli {
	width: 90px;
	height: 70px;
}

.meraKeli {
	position: relative;
	width: 100%;
	height: 100%;
}

.mera {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-style: normal;
}

.meraTypoBold {
	top: 0px;
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	font-size: 44px;
}

.meraTypoLight {
	top: 2px;
	padding-bottom: 4px;
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	font-size: 40px;
}

.meraHandBold {
	top: 6px;
	font-family: "Rancho", serif;
	font-weight: bold;
	font-size: 48px;
}

.meraHandLight {
	top: 8px;
	font-family: "Rancho", serif;
	font-weight: normal;
	font-size: 42px;
}

#simera {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 26px;
}

.skiasi {
	background-color: #dfdfdf;
}

.ektos {
	color: #afafaf;
}

#info {
	width: 656px;
	margin-top: 8px;
	font-size: 16px;
	font-style: italic;
}

#ektiposi {
	display: none;
	text-align: center;
}

#panel {
	padding: 10px;
	font-size: 24px;
}

#print {
	margin-left: 20px;
	font-size: 22px;
}

#panel input,label {
	cursor: pointer;
}
